<nav class="px-5 flex justify-between items-center text-lg font-medium fixed w-full z-10 py-4 bg-white drop-shadow-lg">
    <%= link_to 'Skylife', root_path %>
    <ul class="flex items-center gap-2">
      <li class="px-5 py-2 bg-white rounded-full flex items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="25" height="25" fill="#000000" viewBox="0 0 256 256"><path d="M251.77,73a8,8,0,0,0-8.21.39L208,97.05V72a16,16,0,0,0-16-16H32A16,16,0,0,0,16,72V184a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V159l35.56,23.71A8,8,0,0,0,248,184a8,8,0,0,0,8-8V80A8,8,0,0,0,251.77,73ZM192,184H32V72H192V184Zm48-22.95-32-21.33V116.28L240,95Z"></path></svg>
        <%= link_to 'Virtual Call', root_path, class: 'link' %>
      </li>
      <li class="px-5 py-2 bg-white rounded-full flex items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="25" height="25" fill="#000000" viewBox="0 0 256 256"><path d="M140,128a12,12,0,1,1-12-12A12,12,0,0,1,140,128ZM84,116a12,12,0,1,0,12,12A12,12,0,0,0,84,116Zm88,0a12,12,0,1,0,12,12A12,12,0,0,0,172,116Zm60,12A104,104,0,0,1,79.12,219.82L45.07,231.17a16,16,0,0,1-20.24-20.24l11.35-34.05A104,104,0,1,1,232,128Zm-16,0A88,88,0,1,0,51.81,172.06a8,8,0,0,1,.66,6.54L40,216,77.4,203.53a7.85,7.85,0,0,1,2.53-.42,8,8,0,0,1,4,1.08A88,88,0,0,0,216,128Z"></path></svg>
        <%= link_to 'Chat', root_path, class: 'link' %>
      </li>
      <li class="bg-black/20 rounded-full flex justify-between items-center w-32 p-0.5">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="40" height="40" fill="#fff" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24ZM74.08,197.5a64,64,0,0,1,107.84,0,87.83,87.83,0,0,1-107.84,0ZM96,120a32,32,0,1,1,32,32A32,32,0,0,1,96,120Zm97.76,66.41a79.66,79.66,0,0,0-36.06-28.75,48,48,0,1,0-59.4,0,79.66,79.66,0,0,0-36.06,28.75,88,88,0,1,1,131.52,0Z"></path></svg>
        <%= link_to 'Menu', root_path, class: 'bg-white py-2 px-4  rounded-full' %>
      </li>
    </ul>
</nav>

<div class="mx-10 border px-5 pt-4">
    <div class="mt-20">
    <h2 class="text-blue-600 uppercase text-md font-medium">Skylife Customer Center</h2>
    <h1 class="text-2xl uppercase font-bold mb-6 text-orange-600">About Us</h1>
    </div>
    <section class="flex gap-5 mb-12">
        <div class="flex-1">
            <h3 class="uppercase font-bold text-lg mb-4">Who we are</h3>
            <%= video_tag "Web_Ratio_Funfact_Ms_Jad.mp4", controls: 'controls', class: "w-full" %>
        </div>
        <div class="flex-1">
            <h3 class="uppercase font-bold text-lg mb-12 uppercase">
                Most Outstanding Travel Agency <br>
                One of the Best Tour Providers in Palawan and Boracay <br>
                Direct Tour Supplier of Asian Tours and Travel
            </h3>

            <p class="mb-12">
                Skylife Travel & Tours is a Manila-based, non-IATA travel agency
                committed to delivering the best local and international travel deals to
                our valued customers. As a travel agency, we received recognition from
                Travel Depot as the <span class="underline">Most Outstanding Business Success Story</span> and the
                <span class="underline">Most Outstanding Affiliate</span> of 2016. Furthermore, we are associated with
                NAITAS in Manila and are accredited by the Department of Tourism.
                We are also delighted to share that DIY Travel Philippines, the biggest
                travel group in the country, has been an official partner of the company
                for the past eight years.
            </p>

            <p>
                <span class="font-bold">SKYLIFE TRAVEL AND TOURS</span> was first established in 2015 with years of
                experience in the tourism industry. Preserving cultures, communities, and
                traditions by providing knowledgeable tour guides, cutting-edge
                transportation, and the best accommodation.
            </p>
        </div>
    </section>

    <section class="mission-vision my-4">
        <div class="flex items-center gap-1 mb-4">
            <h2 class="text-lg font-bold uppercase text-orange-600">MISSION & VISION</h2>
            <div class="flex-1 h-px bg-gray-200"></div>
        </div>

        <div class="flex gap-4">
            <div class="flex-1">
                <h3 class="uppercase font-medium mb-2 text-orange-600">Mission</h3>
                <p>
                    To provide good and quality service to our customers and promote local and international travel packages.
                </p>
            </div>

            <div class="flex-1">
                <h3 class="uppercase font-medium mb-2 text-orange-600">Vision</h3>
                <p>
                    To give high-quality services to our clients while giving them an unforgettable, satisfying trip with guaranteed services that exceed their expectations.
                </p>
            </div>
        </div>
    </section>

    <section class="leading-industry my-8">
        <div class="flex items-center gap-1 mb-4">
            <h2 class="text-lg font-bold uppercase">LEADER IN EVOLVING TRAVEL PARADIGM!</h2>
            <div class="flex-1 h-px bg-gray-200"></div>
        </div>

        <div class="flex gap-4">
            <div class="flex-1">
                <h3 class="font-medium mb-2">Travel Services</h3>
                <ul class="list-disc pl-5">
                    <li>
                        Inbound tour services
                    </li>
                    <li>
                        Outbound tour packages
                    </li>
                    <li>
                        Hotel & Car Services
                    </li>
                    <li>
                        Visa Application Assistance
                    </li>
                    <li>
                        Domestic and International Ticketing
                    </li>
                    <li>
                       Tour Packages
                    </li>
                    <li>
                       Travel Insurance
                    </li>
                </ul>
            </div>

            <div class="flex-1">
                <h3 class="font-medium mb-2">QUALITY POLICY

                </h3>
                <p class="mb-2">
                    We go above and beyond to ensure that our customers receive the satisfaction they deserve.
                </p>
                <p>
                    Every client step is important to us, and we show it by:
                </p>

                <ul class="list-disc pl-5">
                    <li>
                        Providing the top services
                    </li>
                    <li>
                        Excellent planning for the tour
                    </li>
                    <li>
                        All essential cases are handled promptly
                    </li>
                    <li>
                        Day and night, accessible for conversation
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>