<nav class="px-5 flex justify-between items-center text-lg font-medium fixed w-full z-10 py-4 bg-white drop-shadow-lg">
    <%= link_to 'Skylife', root_path %>
    <ul class="flex items-center gap-2">
      <li class="px-5 py-2 bg-white rounded-full flex items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="25" height="25" fill="#000000" viewBox="0 0 256 256"><path d="M251.77,73a8,8,0,0,0-8.21.39L208,97.05V72a16,16,0,0,0-16-16H32A16,16,0,0,0,16,72V184a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V159l35.56,23.71A8,8,0,0,0,248,184a8,8,0,0,0,8-8V80A8,8,0,0,0,251.77,73ZM192,184H32V72H192V184Zm48-22.95-32-21.33V116.28L240,95Z"></path></svg>
        <%= link_to 'Virtual Call', root_path, class: 'link' %>
      </li>
      <li class="px-5 py-2 bg-white rounded-full flex items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="25" height="25" fill="#000000" viewBox="0 0 256 256"><path d="M140,128a12,12,0,1,1-12-12A12,12,0,0,1,140,128ZM84,116a12,12,0,1,0,12,12A12,12,0,0,0,84,116Zm88,0a12,12,0,1,0,12,12A12,12,0,0,0,172,116Zm60,12A104,104,0,0,1,79.12,219.82L45.07,231.17a16,16,0,0,1-20.24-20.24l11.35-34.05A104,104,0,1,1,232,128Zm-16,0A88,88,0,1,0,51.81,172.06a8,8,0,0,1,.66,6.54L40,216,77.4,203.53a7.85,7.85,0,0,1,2.53-.42,8,8,0,0,1,4,1.08A88,88,0,0,0,216,128Z"></path></svg>
        <%= link_to 'Chat', root_path, class: 'link' %>
      </li>
      <li class="bg-black/20 rounded-full flex justify-between items-center w-32 p-0.5">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="40" height="40" fill="#fff" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24ZM74.08,197.5a64,64,0,0,1,107.84,0,87.83,87.83,0,0,1-107.84,0ZM96,120a32,32,0,1,1,32,32A32,32,0,0,1,96,120Zm97.76,66.41a79.66,79.66,0,0,0-36.06-28.75,48,48,0,1,0-59.4,0,79.66,79.66,0,0,0-36.06,28.75,88,88,0,1,1,131.52,0Z"></path></svg>
        <%= link_to 'Menu', root_path, class: 'bg-white py-2 px-4  rounded-full' %>
      </li>
    </ul>
</nav>

<div class="mx-10 border px-5 pt-8">
    <div class="mt-20">
    <h2 class="text-blue-600 uppercase text-md font-medium">Skylife Customer Center</h2>
    <h1 class="text-2xl uppercase font-bold mb-6">About Us</h1>
    </div>
    <section class="flex gap-5 mb-12">
        <div class="flex-1">
            <h3 class="uppercase font-bold text-lg mb-4">Who we are</h3>
            <iframe class="w-full min-h-96"src="https://www.youtube.com/embed/PIX9jGBWqSU"></iframe>
        </div>
        <div class="flex-1">
            <h3 class="uppercase font-bold text-lg mb-12">
                PHILIPPINES TOP ONLINE & OFFLINE TRAVEL AGENCY FOR INTERNATIONAL TOURS, DOMESTIC TOURS AND AIR TICKETS.
            </h3>

            <p class="mb-12">
                Rakso Air Travel & Tours, Inc. is a Premium Travel Service Provider established in 1999. A pioneer in promoting the Philippines to the elite Korea market, Rakso Travel has since become a full-pledged travel agency specializing in the development of both inbound and outbound tour products for corporate incentives and leisure tours.
            </p>

            <p>
                At its inception, Rakso Travel developed major PH destinations for the inbound Korea market. In 2001 it became an accredited member of the International Air Transport Association (IATA). As an IATA Agent, Rakso Travel has evolved into highly-disciplined and highly systematic ticket agent for more than 30 major international airlines.
            </p>
        </div>
    </section>

    <div class="flex justify-evenly text-center">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="60" height="60" fill="#000000" viewBox="0 0 256 256"><path d="M198.1,62.59a76,76,0,0,0-140.2,0A71.71,71.71,0,0,0,16,127.8C15.9,166,48,199,86.14,200A72.09,72.09,0,0,0,120,192.47V232a8,8,0,0,0,16,0V192.47A72.17,72.17,0,0,0,168,200l1.82,0C208,199,240.11,166,240,127.8A71.71,71.71,0,0,0,198.1,62.59ZM169.45,184a56.08,56.08,0,0,1-33.45-10v-41l43.58-21.78a8,8,0,1,0-7.16-14.32L136,115.06V88a8,8,0,0,0-16,0v51.06L83.58,120.84a8,8,0,1,0-7.16,14.32L120,156.94v17a56,56,0,0,1-33.45,10C56.9,183.23,31.92,157.52,32,127.84A55.77,55.77,0,0,1,67.11,76a8,8,0,0,0,4.53-4.67,60,60,0,0,1,112.72,0A8,8,0,0,0,188.89,76,55.79,55.79,0,0,1,224,127.84C224.08,157.52,199.1,183.23,169.45,184Z"></path></svg>
            <p class="uppercase font-medium">Branches</p>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="60" height="60" fill="#000000" viewBox="0 0 256 256"><path d="M112,164a12,12,0,1,1-12-12A12,12,0,0,1,112,164Zm44-12a12,12,0,1,0,12,12A12,12,0,0,0,156,152Zm60,36a52,52,0,0,1-88,37.52A52,52,0,1,1,56.72,149.8,71.58,71.58,0,0,1,63,129C44,91.1,32.53,40.76,45.64,19.08A22,22,0,0,1,65.06,8c14.12,0,26,11.89,36.44,36.36,6.22,14.62,10.85,31.32,14,44.74a71.8,71.8,0,0,1,25,0c3.13-13.42,7.76-30.12,14-44.74C164.9,19.89,176.82,8,190.94,8a22,22,0,0,1,19.42,11.08C223.47,40.76,212,91.1,193,129a71.58,71.58,0,0,1,6.26,20.76A51.77,51.77,0,0,1,216,188ZM155.89,93.63a71.72,71.72,0,0,1,26.88,19.64A218.45,218.45,0,0,0,197.6,67.08c3.49-18.13,3.15-33-.93-39.72A6,6,0,0,0,190.94,24c-6.61,0-14.52,9.7-21.72,26.62C163.29,64.56,158.87,80.74,155.89,93.63ZM73.23,113.27a71.72,71.72,0,0,1,26.88-19.64c-3-12.89-7.4-29.07-13.33-43C79.58,33.7,71.67,24,65.06,24a6,6,0,0,0-5.73,3.36C55.25,34.1,54.91,49,58.4,67.08A218.45,218.45,0,0,0,73.23,113.27ZM200,188a35.87,35.87,0,0,0-13.34-28,8,8,0,0,1-2.92-5.45,56,56,0,0,0-111.48,0A8,8,0,0,1,69.34,160a36,36,0,1,0,47.28,54.21l-9.74-8.09a8,8,0,1,1,10.24-12.3L128,202.9l10.88-9.05a8,8,0,0,1,10.24,12.3l-9.74,8.09A36,36,0,0,0,200,188Z"></path></svg>
            <p class="uppercase font-medium">R-Points</p>
        </div>

        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="60" height="60" fill="#000000" viewBox="0 0 256 256"><path d="M230.33,141.06a24.43,24.43,0,0,0-21.24-4.23l-41.84,9.62A28,28,0,0,0,140,112H89.94a31.82,31.82,0,0,0-22.63,9.37L44.69,144H16A16,16,0,0,0,0,160v40a16,16,0,0,0,16,16H120a7.93,7.93,0,0,0,1.94-.24l64-16a6.94,6.94,0,0,0,1.19-.4L226,182.82l.44-.2a24.6,24.6,0,0,0,3.93-41.56ZM16,160H40v40H16Zm203.43,8.21-38,16.18L119,200H56V155.31l22.63-22.62A15.86,15.86,0,0,1,89.94,128H140a12,12,0,0,1,0,24H112a8,8,0,0,0,0,16h32a8.32,8.32,0,0,0,1.79-.2l67-15.41.31-.08a8.6,8.6,0,0,1,6.3,15.9ZM164,96a36,36,0,0,0,5.9-.48,36,36,0,1,0,28.22-47A36,36,0,1,0,164,96Zm60-12a20,20,0,1,1-20-20A20,20,0,0,1,224,84ZM164,40a20,20,0,0,1,19.25,14.61,36,36,0,0,0-15,24.93A20.42,20.42,0,0,1,164,80a20,20,0,0,1,0-40Z"></path></svg>
            <p class="uppercase font-medium">Achievements</p>
        </div>

        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" wwidth="60" height="60" fill="#000000" viewBox="0 0 256 256"><path d="M232,64H208V48a8,8,0,0,0-8-8H56a8,8,0,0,0-8,8V64H24A16,16,0,0,0,8,80V96a40,40,0,0,0,40,40h3.65A80.13,80.13,0,0,0,120,191.61V216H96a8,8,0,0,0,0,16h64a8,8,0,0,0,0-16H136V191.58c31.94-3.23,58.44-25.64,68.08-55.58H208a40,40,0,0,0,40-40V80A16,16,0,0,0,232,64ZM48,120A24,24,0,0,1,24,96V80H48v32q0,4,.39,8Zm144-8.9c0,35.52-29,64.64-64,64.9a64,64,0,0,1-64-64V56H192ZM232,96a24,24,0,0,1-24,24h-.5a81.81,81.81,0,0,0,.5-8.9V80h24Z"></path></svg>
            <p class="uppercase font-medium">CSR</p>
        </div>

        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" wiwidth="60" height="60" fill="#000000" viewBox="0 0 256 256"><path d="M168,56a8,8,0,0,1,8-8h16V32a8,8,0,0,1,16,0V48h16a8,8,0,0,1,0,16H208V80a8,8,0,0,1-16,0V64H176A8,8,0,0,1,168,56Zm62.56,54.68a103.92,103.92,0,1,1-85.24-85.24,8,8,0,0,1-2.64,15.78A88.07,88.07,0,0,0,40,128a87.62,87.62,0,0,0,22.24,58.41A79.66,79.66,0,0,1,98.3,157.66a48,48,0,1,1,59.4,0,79.66,79.66,0,0,1,36.06,28.75A87.62,87.62,0,0,0,216,128a88.85,88.85,0,0,0-1.22-14.68,8,8,0,1,1,15.78-2.64ZM128,152a32,32,0,1,0-32-32A32,32,0,0,0,128,152Zm0,64a87.57,87.57,0,0,0,53.92-18.5,64,64,0,0,0-107.84,0A87.57,87.57,0,0,0,128,216Z"></path></svg>
            <p class="uppercase font-medium">Careers</p>
        </div>
    </div>

    <section class="mission-vision my-4">
        <div class="flex items-center gap-1 mb-4">
            <h2 class="text-lg font-bold uppercase">MISSION & VISION</h2>
            <div class="flex-1 h-px bg-gray-200"></div>
        </div>

        <div class="flex gap-4">
            <div class="flex-1">
                <h3 class="uppercase font-medium mb-2">Mission</h3>
                <p>
                    RAKSO TRAVEL's mantra of "Follow Your Heartbeat" means we will strive to break all the travel barriers for our potential clients by offering eye-leveled, innovative and value-added travel programs and services.
                </p>
            </div>

            <div class="flex-1">
                <h3 class="uppercase font-medium mb-2">Vision</h3>
                <p>
                    To become the leading brand and preferred online and offline, inbound and outbound travel service provider, and the number one contributor in the Philippine Tourism industry, fulfilling each traveler’s dream of experiencing safe, hassle-free and precious explorations around the globe.
                </p>
            </div>

            <div class="flex-1">
                <h3 class="uppercase font-medium mb-2">Values</h3>
                <p>
                    CustomeR centric, Amiable, Knowledgeable, Steadfast, Orderly
                </p>
            </div>
        </div>
    </section>

    <section class="leading-industry my-8">
        <div class="flex items-center gap-1 mb-4">
            <h2 class="text-lg font-bold uppercase">LEADER IN EVOLVING TRAVEL PARADIGM!</h2>
            <div class="flex-1 h-px bg-gray-200"></div>
        </div>

        <div class="flex gap-4">
            <div class="flex-1">
                <h3 class="font-medium mb-2">Our Competitive Edge</h3>
                <ul>
                    <li>
                        RAKSO Travel is equipped with advanced technology in both hardware and software applications to guarantee efficiency of operations.
                    </li>
                    <li>
                        Our services are well within the reach of our clientele, either online or offline.
                    </li>
                    <li>
                        Travel sure, travel safe! Free travel insurance.
                    </li>
                    <li>
                        Loyalty rewards program (R-Points)
                    </li>
                    <li>
                        We have a head quarter and 8 branches offices nationwide with 200+ employees working hand in hand all over the Philippines.
                    </li>
                </ul>
            </div>

            <div class="flex-1">
                <h3 class="font-medium mb-2">Our People</h3>
                <p class="mb-2">
                    We attribute our success to our people – a core of dedicated, well-trained, competent officers and staff who are committed to deliver a high-quality service.
                </p>
                <p>
                    RAKSO TRAVEL continuously provides opportunities for staff development to ensure that its core personnel are kept abreast with the latest trends and technology, thus making them more responsive to challenges and industry dynamics.
                </p>
            </div>
        </div>
    </section>

    <section class="info grid grid-cols-3 gap-4 mb-12">
    <%= link_to root_path do %>
        <%= image_tag "https://www.raksotravel.com/Content/img/banner/ban-bot-branch.jpg", class: 'border border-gray-300 rounded-lg', alt: 'src' %>
    <% end %>
    
    <%= link_to root_path do %>
        <%= image_tag "https://www.raksotravel.com/Content/img/banner/ban-bot-flight.jpg", class: 'border border-gray-300 rounded-lg', alt: 'src' %>
    <% end %>

    <%= link_to root_path do %>
        <%= image_tag "https://www.raksotravel.com/Content/img/banner/ban-bot-rpoints.jpg", class: 'border border-gray-300 rounded-lg', alt: 'src' %>
    <% end %>
    </section>
</div>