<header class="relative">
  <nav class="px-5 flex justify-between items-center text-lg font-medium fixed w-full z-10 py-4 drop-shadow-lg">
    <%= link_to 'Skylife', root_path %>
    <ul class="flex items-center gap-2">
      <li class="px-5 py-2 bg-white rounded-full flex items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="25" height="25" fill="#000000" viewBox="0 0 256 256"><path d="M251.77,73a8,8,0,0,0-8.21.39L208,97.05V72a16,16,0,0,0-16-16H32A16,16,0,0,0,16,72V184a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V159l35.56,23.71A8,8,0,0,0,248,184a8,8,0,0,0,8-8V80A8,8,0,0,0,251.77,73ZM192,184H32V72H192V184Zm48-22.95-32-21.33V116.28L240,95Z"></path></svg>
        <%= link_to 'Virtual Call', root_path, class: 'link' %>
      </li>
      <li class="px-5 py-2 bg-white rounded-full flex items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="25" height="25" fill="#000000" viewBox="0 0 256 256"><path d="M140,128a12,12,0,1,1-12-12A12,12,0,0,1,140,128ZM84,116a12,12,0,1,0,12,12A12,12,0,0,0,84,116Zm88,0a12,12,0,1,0,12,12A12,12,0,0,0,172,116Zm60,12A104,104,0,0,1,79.12,219.82L45.07,231.17a16,16,0,0,1-20.24-20.24l11.35-34.05A104,104,0,1,1,232,128Zm-16,0A88,88,0,1,0,51.81,172.06a8,8,0,0,1,.66,6.54L40,216,77.4,203.53a7.85,7.85,0,0,1,2.53-.42,8,8,0,0,1,4,1.08A88,88,0,0,0,216,128Z"></path></svg>
        <%= link_to 'Chat', root_path, class: 'link' %>
      </li>
      <li class="bg-black/20 rounded-full flex justify-between items-center w-32 p-0.5">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="40" height="40" fill="#fff" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24ZM74.08,197.5a64,64,0,0,1,107.84,0,87.83,87.83,0,0,1-107.84,0ZM96,120a32,32,0,1,1,32,32A32,32,0,0,1,96,120Zm97.76,66.41a79.66,79.66,0,0,0-36.06-28.75,48,48,0,1,0-59.4,0,79.66,79.66,0,0,0-36.06,28.75,88,88,0,1,1,131.52,0Z"></path></svg>
        <%= link_to 'Menu', root_path, class: 'bg-white py-2 px-4  rounded-full' %>
      </li>
    </ul>
  </nav>
  <%= image_tag 'home_bg_banner.jpg', alt: 'header image', class: "object-cover w-full" %>

  <div class="absolute top-1/3 w-full flex justify-center text-white">
    <div class="w-1/4 bg-black/20 p-4 rounded">
      <div class="border-b border-white flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#fff" viewBox="0 0 256 256"><path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path></svg>
        <input type="text" name="search" class="text-md bg-transparent border-none focus:ring-transparent focus:outline-transparent">
      </div>
    </div>
  </div>
</header>

<nav class="px-5 py-5">
  <ul class="grid grid-cols-12 text-center font-medium gap-5 text-sm">
    <li>
      <%= link_to root_path, class: 'link' do %>
        <%= image_tag 'icon-flight.gif', class: 'w-11/12', alt: 'src' %>
        Flights
      <% end %>
    </li>
    <li>
      <%= link_to root_path, class: 'link' do %>
        <%= image_tag 'icon-02a.png', class: 'w-11/12', alt: 'src' %>
        International
      <% end %>
    </li>
    <li>
      <%= link_to root_path, class: 'link' do %>
        <%= image_tag 'icon-03a.png', class: 'w-11/12', alt: 'src' %>
        Domestic
      <% end %>
    </li>
    <li>
      <%= link_to root_path, class: 'link' do %>
        <%= image_tag 'icon-04a.png', class: 'w-11/12', alt: 'src' %>
        Premium
      <% end %>
    </li>
    <li>
      <%= link_to root_path, class: 'link' do %>
        <%= image_tag 'icon-05a.png', class: 'w-11/12', alt: 'src' %>
        Cruises
      <% end %>
    </li>
    <li>
      <%= link_to root_path, class: 'link' do %>
        <%= image_tag 'icon-06a.png', class: 'w-11/12', alt: 'src' %>
        Visa
      <% end %>
    </li>
    <li>
      <%= link_to root_path, class: 'link' do %>
        <%= image_tag 'icon-07a.png', class: 'w-11/12', alt: 'src' %>
        Insurance
      <% end %>
    </li>
    <li>
      <%= link_to root_path, class: 'link' do %>
        <%= image_tag 'icon-08a.png', class: 'w-11/12', alt: 'src' %>
        Erail/JR
      <% end %>
    </li>
    <li>
      <%= link_to root_path, class: 'link' do %>
        <%= image_tag 'icon-09a.png', class: 'w-11/12', alt: 'src' %>
        R-Points
      <% end %>
    </li>
    <li>
      <%= link_to root_path, class: 'link' do %>
        <%= image_tag 'icon-10a.png', class: 'w-11/12', alt: 'src' %>
        MICE
      <% end %>
    </li>
    <li>
      <%= link_to root_path, class: 'link' do %>
        <%= image_tag 'icon-11a.png', class: 'w-11/12', alt: 'src' %>
        Event
      <% end %>
    </li>
    <li>
      <%= link_to about_path, class: 'link' do %>
        <%= image_tag 'icon-12a.png', class: 'w-11/12', alt: 'src' %>
        About Us
      <% end %>
    </li>
  </ul>
</nav>

<div class="w-full px-5 py-5">
  <%= image_tag 'ban_why_lg.jpg', alt: 'banner' %>
</div>

<section class="exclusive-flight-group-tours px-5 mt-8 mb-12">
  <h1 class="text-lg font-medium mb-4">Exclusive Flight Group Tours</h1>
  <div class="grid grid-cols-3 gap-6">
    <div class="grid grid-cols-3 gap-px relative">
      <%= image_tag 'package_109441_1.jpg', class: 'col-span-full', alt: 'src' %>
      <%= image_tag 'package_109441_2.jpg', alt: 'src' %>
      <%= image_tag 'package_109441_3.jpg', alt: 'src' %>
      <%= image_tag 'package_109441_4.jpg', alt: 'src' %>

      <div class="absolute left-0 m-2 p-2 bg-black/40 text-white rounded">
        <p class="uppercase text-xs">Group Tour</p>
      </div>

      <div class="absolute right-0 m-2 p-2 bg-white/70 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M178,40c-20.65,0-38.73,8.88-50,23.89C116.73,48.88,98.65,40,78,40a62.07,62.07,0,0,0-62,62c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,228.66,240,172,240,102A62.07,62.07,0,0,0,178,40ZM128,214.8C109.74,204.16,32,155.69,32,102A46.06,46.06,0,0,1,78,56c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,155.61,146.24,204.15,128,214.8Z"></path></svg>
      </div>

      <div class="col-span-full grid grid-cols-3 my-2 items-center text-sm">
        <div>
          <p class="uppercase bg-red-500 text-white rounded p-1 inline-block text-xs">Hot Deal</p>
        </div>
        <p class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="18" height="18" fill="#000000" viewBox="0 0 256 256"><path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-68-76a12,12,0,1,1-12-12A12,12,0,0,1,140,132Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,132ZM96,172a12,12,0,1,1-12-12A12,12,0,0,1,96,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,140,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,172Z"></path></svg>
          6D4N
        </p>
        <p class="text-end">
          <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="18" height="18" viewBox="0 0 256 256"><path d="M128,64a40,40,0,1,0,40,40A40,40,0,0,0,128,64Zm0,64a24,24,0,1,1,24-24A24,24,0,0,1,128,128Zm0-112a88.1,88.1,0,0,0-88,88c0,31.4,14.51,64.68,42,96.25a254.19,254.19,0,0,0,41.45,38.3,8,8,0,0,0,9.18,0A254.19,254.19,0,0,0,174,200.25c27.45-31.57,42-64.85,42-96.25A88.1,88.1,0,0,0,128,16Zm0,206c-16.53-13-72-60.75-72-118a72,72,0,0,1,144,0C200,161.23,144.53,209,128,222Z"></path></svg>
          2 Cities
        </p>
      </div>

      <h2 class="col-span-full font-medium mb-2">MONGOLIA WINTER THRILL "A LAND OF ETERNAL BLUE SKY</h2>
      <div class="col-span-full grid grid-cols-2 text-sm mb-2">
        <div>
          <p class="text-blue-600 border border-sky-700 rounded inline-block p-1">Departure & Info</p>
        </div>
        <p class="text-end text-red-600">From USD <span class="text-lg font-medium">1,699</span>/person</p>
      </div>

      <div class="col-span-full grid grid-cols-2 text-sm items-center">
        <p class="text-blue-700 text-sm">#BESTCHOICE, #SPECIAL FLIGHT</p>
        <div class="text-end">
          <p class="inline-block text-sm bg-gray-200 text-gray-800 rounded px-3 py-1.5">More Mongolia Tours</p>
        </div>
      </div>
    </div>
    
    <div class="grid grid-cols-3 gap-px relative">
      <%= image_tag 'package_109441_1.jpg', class: 'col-span-full', alt: 'src' %>
      <%= image_tag 'package_109441_2.jpg', alt: 'src' %>
      <%= image_tag 'package_109441_3.jpg', alt: 'src' %>
      <%= image_tag 'package_109441_4.jpg', alt: 'src' %>

      <div class="absolute left-0 m-2 p-2 bg-black/40 text-white rounded">
        <p class="uppercase text-xs">Group Tour</p>
      </div>

      <div class="absolute right-0 m-2 p-2 bg-white/70 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M178,40c-20.65,0-38.73,8.88-50,23.89C116.73,48.88,98.65,40,78,40a62.07,62.07,0,0,0-62,62c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,228.66,240,172,240,102A62.07,62.07,0,0,0,178,40ZM128,214.8C109.74,204.16,32,155.69,32,102A46.06,46.06,0,0,1,78,56c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,155.61,146.24,204.15,128,214.8Z"></path></svg>
      </div>

      <div class="col-span-full grid grid-cols-3 my-2 items-center text-sm">
        <div>
          <p class="uppercase bg-red-500 text-white rounded p-1 inline-block text-xs">Hot Deal</p>
        </div>
        <p class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="18" height="18" fill="#000000" viewBox="0 0 256 256"><path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-68-76a12,12,0,1,1-12-12A12,12,0,0,1,140,132Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,132ZM96,172a12,12,0,1,1-12-12A12,12,0,0,1,96,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,140,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,172Z"></path></svg>
          6D4N
        </p>
        <p class="text-end">
          <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="18" height="18" viewBox="0 0 256 256"><path d="M128,64a40,40,0,1,0,40,40A40,40,0,0,0,128,64Zm0,64a24,24,0,1,1,24-24A24,24,0,0,1,128,128Zm0-112a88.1,88.1,0,0,0-88,88c0,31.4,14.51,64.68,42,96.25a254.19,254.19,0,0,0,41.45,38.3,8,8,0,0,0,9.18,0A254.19,254.19,0,0,0,174,200.25c27.45-31.57,42-64.85,42-96.25A88.1,88.1,0,0,0,128,16Zm0,206c-16.53-13-72-60.75-72-118a72,72,0,0,1,144,0C200,161.23,144.53,209,128,222Z"></path></svg>
          2 Cities
        </p>
      </div>

      <h2 class="col-span-full font-medium mb-2">MONGOLIA WINTER THRILL "A LAND OF ETERNAL BLUE SKY</h2>
      <div class="col-span-full grid grid-cols-2 text-sm mb-2">
        <div>
          <p class="text-blue-600 border border-sky-700 rounded inline-block p-1">Departure & Info</p>
        </div>
        <p class="text-end text-red-600">From USD <span class="text-lg font-medium">1,699</span>/person</p>
      </div>

      <div class="col-span-full grid grid-cols-2 text-sm items-center">
        <p class="text-blue-700 text-sm">#BESTCHOICE, #SPECIAL FLIGHT</p>
        <div class="text-end">
          <p class="inline-block text-sm bg-gray-200 text-gray-800 rounded px-3 py-1.5">More Mongolia Tours</p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-px relative">
      <%= image_tag 'package_109441_1.jpg', class: 'col-span-full', alt: 'src' %>
      <%= image_tag 'package_109441_2.jpg', alt: 'src' %>
      <%= image_tag 'package_109441_3.jpg', alt: 'src' %>
      <%= image_tag 'package_109441_4.jpg', alt: 'src' %>

      <div class="absolute left-0 m-2 p-2 bg-black/40 text-white rounded">
        <p class="uppercase text-xs">Group Tour</p>
      </div>

      <div class="absolute right-0 m-2 p-2 bg-white/70 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M178,40c-20.65,0-38.73,8.88-50,23.89C116.73,48.88,98.65,40,78,40a62.07,62.07,0,0,0-62,62c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,228.66,240,172,240,102A62.07,62.07,0,0,0,178,40ZM128,214.8C109.74,204.16,32,155.69,32,102A46.06,46.06,0,0,1,78,56c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,155.61,146.24,204.15,128,214.8Z"></path></svg>
      </div>

      <div class="col-span-full grid grid-cols-3 my-2 items-center text-sm">
        <div>
          <p class="uppercase bg-red-500 text-white rounded p-1 inline-block text-xs">Hot Deal</p>
        </div>
        <p class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="18" height="18" fill="#000000" viewBox="0 0 256 256"><path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-68-76a12,12,0,1,1-12-12A12,12,0,0,1,140,132Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,132ZM96,172a12,12,0,1,1-12-12A12,12,0,0,1,96,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,140,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,172Z"></path></svg>
          6D4N
        </p>
        <p class="text-end">
          <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="18" height="18" viewBox="0 0 256 256"><path d="M128,64a40,40,0,1,0,40,40A40,40,0,0,0,128,64Zm0,64a24,24,0,1,1,24-24A24,24,0,0,1,128,128Zm0-112a88.1,88.1,0,0,0-88,88c0,31.4,14.51,64.68,42,96.25a254.19,254.19,0,0,0,41.45,38.3,8,8,0,0,0,9.18,0A254.19,254.19,0,0,0,174,200.25c27.45-31.57,42-64.85,42-96.25A88.1,88.1,0,0,0,128,16Zm0,206c-16.53-13-72-60.75-72-118a72,72,0,0,1,144,0C200,161.23,144.53,209,128,222Z"></path></svg>
          2 Cities
        </p>
      </div>

      <h2 class="col-span-full font-medium mb-2">MONGOLIA WINTER THRILL "A LAND OF ETERNAL BLUE SKY</h2>
      <div class="col-span-full grid grid-cols-2 text-sm mb-2">
        <div>
          <p class="text-blue-600 border border-sky-700 rounded inline-block p-1">Departure & Info</p>
        </div>
        <p class="text-end text-red-600">From USD <span class="text-lg font-medium">1,699</span>/person</p>
      </div>

      <div class="col-span-full grid grid-cols-2 text-sm items-center">
        <p class="text-blue-700 text-sm">#BESTCHOICE, #SPECIAL FLIGHT</p>
        <div class="text-end">
          <p class="inline-block text-sm bg-gray-200 text-gray-800 rounded px-3 py-1.5">More Mongolia Tours</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="new-tours px-5 mt-8 mb-12">
  <h1 class="text-lg font-medium mb-4">New Tour Packages </h1>

  <div class="grid grid-cols-3 gap-6">
    <div class="relative grid">
      <%= image_tag 'package_107160_1.jpg', alt: 'src' %>

      <div class="absolute left-0 m-2 p-2 bg-black/40 text-white rounded">
        <p class="uppercase text-xs">Group Tour</p>
      </div>

      <div class="absolute right-0 m-2 p-2 bg-white/70 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M178,40c-20.65,0-38.73,8.88-50,23.89C116.73,48.88,98.65,40,78,40a62.07,62.07,0,0,0-62,62c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,228.66,240,172,240,102A62.07,62.07,0,0,0,178,40ZM128,214.8C109.74,204.16,32,155.69,32,102A46.06,46.06,0,0,1,78,56c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,155.61,146.24,204.15,128,214.8Z"></path></svg>
      </div>

      <div class="col-span-full grid grid-cols-2 my-2 items-center text-sm">
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="18" height="18" fill="#000000" viewBox="0 0 256 256"><path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-68-76a12,12,0,1,1-12-12A12,12,0,0,1,140,132Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,132ZM96,172a12,12,0,1,1-12-12A12,12,0,0,1,96,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,140,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,172Z"></path></svg>
          6D4N
        </p>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="18" height="18" viewBox="0 0 256 256"><path d="M128,64a40,40,0,1,0,40,40A40,40,0,0,0,128,64Zm0,64a24,24,0,1,1,24-24A24,24,0,0,1,128,128Zm0-112a88.1,88.1,0,0,0-88,88c0,31.4,14.51,64.68,42,96.25a254.19,254.19,0,0,0,41.45,38.3,8,8,0,0,0,9.18,0A254.19,254.19,0,0,0,174,200.25c27.45-31.57,42-64.85,42-96.25A88.1,88.1,0,0,0,128,16Zm0,206c-16.53-13-72-60.75-72-118a72,72,0,0,1,144,0C200,161.23,144.53,209,128,222Z"></path></svg>
          2 Cities
        </p>
      </div>

      <h2 class="col-span-full font-medium mb-2">THE WONDERS OF CENTRAL VIETNAM</h2>
      <div class="col-span-full grid grid-cols-2 text-sm mb-2">
        <div>
          <p class="text-blue-600 border border-sky-700 rounded inline-block p-1">Departure & Info</p>
        </div>
        <p class="text-end text-red-600">From USD <span class="text-lg font-medium">1,699</span>/person</p>
      </div>

      <div class="col-span-full grid grid-cols-2 text-sm items-center">
        <p class="text-blue-700 text-sm">#NEWTOURPACKAGE, #POPULAR</p>
        <div class="text-end">
          <p class="inline-block text-sm bg-gray-200 text-gray-800 rounded px-3 py-1.5">More Vietnam Tours</p>
        </div>
      </div>
    </div>

     <div class="relative grid">
      <%= image_tag 'package_107160_1.jpg', alt: 'src' %>

      <div class="absolute left-0 m-2 p-2 bg-black/40 text-white rounded">
        <p class="uppercase text-xs">Group Tour</p>
      </div>

      <div class="absolute right-0 m-2 p-2 bg-white/70 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M178,40c-20.65,0-38.73,8.88-50,23.89C116.73,48.88,98.65,40,78,40a62.07,62.07,0,0,0-62,62c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,228.66,240,172,240,102A62.07,62.07,0,0,0,178,40ZM128,214.8C109.74,204.16,32,155.69,32,102A46.06,46.06,0,0,1,78,56c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,155.61,146.24,204.15,128,214.8Z"></path></svg>
      </div>

      <div class="col-span-full grid grid-cols-2 my-2 items-center text-sm">
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="18" height="18" fill="#000000" viewBox="0 0 256 256"><path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-68-76a12,12,0,1,1-12-12A12,12,0,0,1,140,132Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,132ZM96,172a12,12,0,1,1-12-12A12,12,0,0,1,96,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,140,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,172Z"></path></svg>
          6D4N
        </p>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="18" height="18" viewBox="0 0 256 256"><path d="M128,64a40,40,0,1,0,40,40A40,40,0,0,0,128,64Zm0,64a24,24,0,1,1,24-24A24,24,0,0,1,128,128Zm0-112a88.1,88.1,0,0,0-88,88c0,31.4,14.51,64.68,42,96.25a254.19,254.19,0,0,0,41.45,38.3,8,8,0,0,0,9.18,0A254.19,254.19,0,0,0,174,200.25c27.45-31.57,42-64.85,42-96.25A88.1,88.1,0,0,0,128,16Zm0,206c-16.53-13-72-60.75-72-118a72,72,0,0,1,144,0C200,161.23,144.53,209,128,222Z"></path></svg>
          2 Cities
        </p>
      </div>

      <h2 class="col-span-full font-medium mb-2">THE WONDERS OF CENTRAL VIETNAM</h2>
      <div class="col-span-full grid grid-cols-2 text-sm mb-2">
        <div>
          <p class="text-blue-600 border border-sky-700 rounded inline-block p-1">Departure & Info</p>
        </div>
        <p class="text-end text-red-600">From USD <span class="text-lg font-medium">1,699</span>/person</p>
      </div>

      <div class="col-span-full grid grid-cols-2 text-sm items-center">
        <p class="text-blue-700 text-sm">#NEWTOURPACKAGE, #POPULAR</p>
        <div class="text-end">
          <p class="inline-block text-sm bg-gray-200 text-gray-800 rounded px-3 py-1.5">More Vietnam Tours</p>
        </div>
      </div>
    </div>

     <div class="relative grid">
      <%= image_tag 'package_107160_1.jpg', alt: 'src' %>

      <div class="absolute left-0 m-2 p-2 bg-black/40 text-white rounded">
        <p class="uppercase text-xs">Group Tour</p>
      </div>

      <div class="absolute right-0 m-2 p-2 bg-white/70 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M178,40c-20.65,0-38.73,8.88-50,23.89C116.73,48.88,98.65,40,78,40a62.07,62.07,0,0,0-62,62c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,228.66,240,172,240,102A62.07,62.07,0,0,0,178,40ZM128,214.8C109.74,204.16,32,155.69,32,102A46.06,46.06,0,0,1,78,56c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,155.61,146.24,204.15,128,214.8Z"></path></svg>
      </div>

      <div class="col-span-full grid grid-cols-2 my-2 items-center text-sm">
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="18" height="18" fill="#000000" viewBox="0 0 256 256"><path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-68-76a12,12,0,1,1-12-12A12,12,0,0,1,140,132Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,132ZM96,172a12,12,0,1,1-12-12A12,12,0,0,1,96,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,140,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,172Z"></path></svg>
          6D4N
        </p>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="18" height="18" viewBox="0 0 256 256"><path d="M128,64a40,40,0,1,0,40,40A40,40,0,0,0,128,64Zm0,64a24,24,0,1,1,24-24A24,24,0,0,1,128,128Zm0-112a88.1,88.1,0,0,0-88,88c0,31.4,14.51,64.68,42,96.25a254.19,254.19,0,0,0,41.45,38.3,8,8,0,0,0,9.18,0A254.19,254.19,0,0,0,174,200.25c27.45-31.57,42-64.85,42-96.25A88.1,88.1,0,0,0,128,16Zm0,206c-16.53-13-72-60.75-72-118a72,72,0,0,1,144,0C200,161.23,144.53,209,128,222Z"></path></svg>
          2 Cities
        </p>
      </div>

      <h2 class="col-span-full font-medium mb-2">THE WONDERS OF CENTRAL VIETNAM</h2>
      <div class="col-span-full grid grid-cols-2 text-sm mb-2">
        <div>
          <p class="text-blue-600 border border-sky-700 rounded inline-block p-1">Departure & Info</p>
        </div>
        <p class="text-end text-red-600">From USD <span class="text-lg font-medium">1,699</span>/person</p>
      </div>

      <div class="col-span-full grid grid-cols-2 text-sm items-center">
        <p class="text-blue-700 text-sm">#NEWTOURPACKAGE, #POPULAR</p>
        <div class="text-end">
          <p class="inline-block text-sm bg-gray-200 text-gray-800 rounded px-3 py-1.5">More Vietnam Tours</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="international-top-destination px-5 mt-8 mb-12">
  <h1 class="text-lg font-medium mb-4">International Top Destination</h1>

  <div class="inline-grid grid-cols-8 gap-2">
    <div class="relative">
      <%= image_tag 'south-korea.jpg', class: "rounded", alt: 'src' %>
      <h2 class="absolute bottom-0 uppercase p-2 font-bold text-white drop-shadow-lg text-lg">South Korea</h2>
    </div>

    <div class="relative">
      <%= image_tag 'japan.jpg', class: "rounded", alt: 'src' %>
      <h2 class="absolute bottom-0 uppercase p-2 font-bold text-white drop-shadow-lg text-lg">Japan</h2>
    </div>

    <div class="relative">
      <%= image_tag 'hongkong.jpg', class: "rounded", alt: 'src' %>
      <h2 class="absolute bottom-0 uppercase p-2 font-bold text-white drop-shadow-lg text-lg">Hongkong</h2>
    </div>

    <div class="relative">
      <%= image_tag 'singapore.jpg', class: "rounded", alt: 'src' %>
      <h2 class="absolute bottom-0 uppercase p-2 font-bold text-white drop-shadow-lg text-lg">Singapore</h2>
    </div>

    <div class="relative">
      <%= image_tag 'europe.jpg', class: "rounded", alt: 'src' %>
      <h2 class="absolute bottom-0 uppercase p-2 font-bold text-white drop-shadow-lg text-lg">Europe</h2>
    </div>

    <div class="relative">
      <%= image_tag 'holyland.jpg', class: "rounded", alt: 'src' %>
      <h2 class="absolute bottom-0 uppercase p-2 font-bold text-white drop-shadow-lg text-lg">Holyland</h2>
    </div>

    <div class="relative">
      <%= image_tag 'uae.jpg', class: "rounded", alt: 'src' %>
      <h2 class="absolute bottom-0 uppercase p-2 font-bold text-white drop-shadow-lg text-lg">Uae</h2>
    </div>

     <div class="relative">
      <%= image_tag 'china.jpg', class: "rounded", alt: 'src' %>
      <h2 class="absolute bottom-0 uppercase p-2 font-bold text-white drop-shadow-lg text-lg">China</h2>
    </div>
  </div>
</section>

<section class="info grid grid-cols-3 gap-4 px-5 mb-12">
  <%= link_to root_path do %>
    <%= image_tag "https://www.raksotravel.com/Content/img/banner/ban-bot-branch.jpg", class: 'border border-gray-300 rounded-lg', alt: 'src' %>
  <% end %>
  
  <%= link_to root_path do %>
    <%= image_tag "https://www.raksotravel.com/Content/img/banner/ban-bot-flight.jpg", class: 'border border-gray-300 rounded-lg', alt: 'src' %>
  <% end %>

  <%= link_to root_path do %>
    <%= image_tag "https://www.raksotravel.com/Content/img/banner/ban-bot-rpoints.jpg", class: 'border border-gray-300 rounded-lg', alt: 'src' %>
  <% end %>
</section>

<footer class="border-t pt-8">
  <div class="flex justify-center gap-5 mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm8,191.63V152h24a8,8,0,0,0,0-16H136V112a16,16,0,0,1,16-16h16a8,8,0,0,0,0-16H152a32,32,0,0,0-32,32v24H96a8,8,0,0,0,0,16h24v63.63a88,88,0,1,1,16,0Z"></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160ZM176,24H80A56.06,56.06,0,0,0,24,80v96a56.06,56.06,0,0,0,56,56h96a56.06,56.06,0,0,0,56-56V80A56.06,56.06,0,0,0,176,24Zm40,152a40,40,0,0,1-40,40H80a40,40,0,0,1-40-40V80A40,40,0,0,1,80,40h96a40,40,0,0,1,40,40ZM192,76a12,12,0,1,1-12-12A12,12,0,0,1,192,76Z"></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M164.44,121.34l-48-32A8,8,0,0,0,104,96v64a8,8,0,0,0,12.44,6.66l48-32a8,8,0,0,0,0-13.32ZM120,145.05V111l25.58,17ZM234.33,69.52a24,24,0,0,0-14.49-16.4C185.56,39.88,131,40,128,40s-57.56-.12-91.84,13.12a24,24,0,0,0-14.49,16.4C19.08,79.5,16,97.74,16,128s3.08,48.5,5.67,58.48a24,24,0,0,0,14.49,16.41C69,215.56,120.4,216,127.34,216h1.32c6.94,0,58.37-.44,91.18-13.11a24,24,0,0,0,14.49-16.41c2.59-10,5.67-28.22,5.67-58.48S236.92,79.5,234.33,69.52Zm-15.49,113a8,8,0,0,1-4.77,5.49c-31.65,12.22-85.48,12-86,12H128c-.54,0-54.33.2-86-12a8,8,0,0,1-4.77-5.49C34.8,173.39,32,156.57,32,128s2.8-45.39,5.16-54.47A8,8,0,0,1,41.93,68c30.52-11.79,81.66-12,85.85-12h.27c.54,0,54.38-.18,86,12a8,8,0,0,1,4.77,5.49C221.2,82.61,224,99.43,224,128S221.2,173.39,218.84,182.47Z"></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M224,112c0,22.57-7.9,43.2-22.23,58.11C188.39,184,170.25,192,152,192c-17.88,0-29.82-5.86-37.43-12l-10.78,45.82A8,8,0,0,1,96,232a8.24,8.24,0,0,1-1.84-.21,8,8,0,0,1-6-9.62l32-136a8,8,0,0,1,15.58,3.66l-16.9,71.8C122,166,131.3,176,152,176c27.53,0,56-23.94,56-64A72,72,0,1,0,73.63,148a8,8,0,0,1-13.85,8A88,88,0,1,1,224,112Z"></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M214.75,211.71l-62.6-98.38,61.77-67.95a8,8,0,0,0-11.84-10.76L143.24,99.34,102.75,35.71A8,8,0,0,0,96,32H48a8,8,0,0,0-6.75,12.3l62.6,98.37-61.77,68a8,8,0,1,0,11.84,10.76l58.84-64.72,40.49,63.63A8,8,0,0,0,160,224h48a8,8,0,0,0,6.75-12.29ZM164.39,208,62.57,48h29L193.43,208Z"></path></svg>
  </div>

  <div class="border-b pb-4">
    <ul class="flex justify-center gap-4 uppercase font-medium text-lg">
      <li>
        About Us
      </li>
      <li>
        Contact Us
      </li>
      <li>
        Career
      </li>
      <li>
        Data Privacy Policy
      </li>
      <li>
        Terms & Conditions
      </li>
      <li>
        Awards we have received
      </li>
    </ul>
  </div>

  <p class="text-center py-4">© 2020 RAKSO AIR TRAVEL & TOURS INC. ALL RIGHTS RESERVED</p>
</footer>

<script>
  const topNav = document.querySelector("header > nav")

  document.addEventListener('scroll', (e) => {
    if (window.scrollY > 0) {
      topNav.classList.add('bg-white')
    } else {
      topNav.classList.remove('bg-white')
    }
  })
</script>
