<div class="bg-white">
    <section class="banner">
        
        <% if @tour.banner_image.present? %>
            <%= image_tag @tour.banner_image, alt: 'banner', class: 'w-full' %>
        <% end %>
        
        <div class="package md:w-10/12 w-11/12 mx-auto flex justify-between bg-gray-100 rounded-full p-4 mt-4 md:p-6 md:mt-8 shadow-md">
            <div class="flex items-center">
                <h1 class="md:text-3xl text-sm font-bold">
                   <%= @tour.name %>
                </h1>
            </div>
            <div>
                <p class="text-skylife_blue text-xs">
                    Starts at
                </p>
                <h1 class="md:text-3xl text-sm font-bold text-orange-500">
                    ₱<%= @tour.price_per_head %>/pax
                </h1>
            </div>
        </div>
    </section>

    <section class="inclusion md:py-20 py-10">
        <div class="md:w-10/12 w-11/12 flex mx-auto">
            <div class="flex-1 mr-8">
                <h1 class="md:text-2xl text-sm font-bold mb-4 border-l-4 border-skylife_blue bg-skylife_orange text-white inline-block rounded-lg px-4 py-2">Travel Period: </h1>
                <p class="md:text-2xl text-sm mb-8">
                    <%= @tour.travel_date %>
                </p>

                <% if @tour_inclusion.any? %>
                    <h2 class="md:text-2xl text-sm font-bold mb-4 border-l-4 border-skylife_blue bg-skylife_orange text-white inline-block rounded-lg px-4 py-2">Package Inclusions: </h2>
                    
                    <ul class="list-disc mt-4 space-y-2 md:text-2xl text-sm list-none list-outside">
                        <% @tour_inclusion.each do |item| %>
                            <li><%= item %></li>
                        <% end %>
                    </ul>
                <% end %>
            </div>

            <div class="flex-2 gap-2">
                <% if @tour.gallery_images.first.present? %>
                    <%= image_tag @tour.gallery_images.first, class: 'aspect-square', alt: 'src' %>
                <% end %>
            </div>
        </div>
    </section>

    <section class="tour-inclusion md:py-20 py-10 bg-skylife_bg">
        <div class="md:w-10/12 w-11/12 flex mx-auto">
            <div class="flex-1">
                <% if @tour.gallery_images.last.present? %>
                     <%= image_tag @tour.gallery_images.last, class: 'aspect-square', alt: 'src' %>
                <% end %>
            </div>

            <div class="flex-1 ml-8">
                <% if @tour_exclusion.any? %>
                    <h2 class="md:text-2xl text-sm font-bold mb-4 border-l-4 border-skylife_blue bg-skylife_orange text-white inline-block rounded-lg px-4 py-2">Package Exclusions: </h2>
                    
                    <ul class="list-disc mt-4 space-y-2 md:text-2xl text-sm list-none">
                        <% @tour_exclusion.each do |item| %>
                            <li><%= item %></li>
                        <% end %>
                    </ul>
                <% end %>
            </div>
        </div>
    </section>

    <section class="terms-and-condition md:py-20 py-10">
        <div class="md:w-10/12 w-11/12 flex mx-auto">
            <div class="flex-1">
                <h1 class="md:text-2xl text-sm font-bold mb-4 border-l-4 border-skylife_blue bg-skylife_orange text-white inline-block rounded-lg px-4 py-2">Terms and Condition</h1>
                <% if @tour_terms_and_condition.any? %>
                    <ul class="list-disc mt-4 space-y-2 list-none md:text-xl text-sm">
                        <% @tour_terms_and_condition.each do |item| %>
                            <li><%= item %></li>
                        <% end %>
                    </ul>
                <% end %>
            </div>

            <div class="flex-1 flex items-center justify-center ml-10">
               <button class="bg-skylife_orange text-white px-12 py-2 md:text-2xl text-sm rounded-lg">Inquire Now!</button>
            </div>
        </div>
    </section>
</div>