<div class="bg-white">
    <section class="banner">
        <%= image_tag @tour.banner_image, alt: 'banner', class: 'w-full' %>

        <div class="package w-10/12 mx-auto flex justify-between bg-gray-100 rounded-full p-6 mt-8 shadow-md">
            <div class="flex items-center">
                <h1 class="text-3xl font-bold">
                   <%= @tour.name %>
                </h1>
            </div>
            <div>
                <p class="text-skylife_blue">
                    Starts at
                </p>
                <h1 class="text-3xl font-bold text-orange-500">
                    ₱<%= @tour.price_per_head %>/pax
                </h1>
            </div>
        </div>
    </section>

    <section class="inclusion py-20">
        <div class="w-10/12 flex mx-auto">
            <div class="flex-1">
                <h1 class="text-2xl font-bold mb-4 border-l-4 border-skylife_blue bg-skylife_orange text-white inline-block rounded-lg px-4 py-2">Travel Period: </h1>
                <p class="text-2xl mb-8">
                    <%= @tour.travel_date %>
                </p>

                <% if @tour_inclusion.any? %>
                    <h2 class="text-2xl font-bold mb-4 border-l-4 border-skylife_blue bg-skylife_orange text-white inline-block rounded-lg px-4 py-2">Package Inclusions: </h2>
                    
                    <ul class="list-disc mt-4 space-y-2 text-2xl list-none list-outside">
                        <% @tour_inclusion.each do |item| %>
                            <li>✅ <%= item %></li>
                        <% end %>
                    </ul>
                <% end %>
            </div>

            <div class="flex-1">
                <%= image_tag @tour.gallery_images.first, alt: 'src' %>
            </div>
        </div>
    </section>

    <section class="tour-inclusion py-20 bg-skylife_bg">
        <div class="w-10/12 flex mx-auto">
            <div class="flex-1">
                <%= image_tag @tour.gallery_images.last, alt: 'src' %>
            </div>

            <div class="flex-1 ml-8">
                <% if @tour_exclusion.any? %>
                    <h2 class="text-2xl font-bold mb-4 border-l-4 border-skylife_blue bg-skylife_orange text-white inline-block rounded-lg px-4 py-2">Package Inclusions: </h2>
                    
                    <ul class="list-disc mt-4 space-y-2 text-2xl list-none">
                        <% @tour_exclusion.each do |item| %>
                            <li>❌ <%= item %></li>
                        <% end %>
                    </ul>
                <% end %>
            </div>
        </div>
    </section>

    <section class="terms-and-condition py-20">
        <div class="w-10/12 flex mx-auto">
            <div class="flex-1">
                <h1 class="text-2xl font-bold mb-4 border-l-4 border-skylife_blue bg-skylife_orange text-white inline-block rounded-lg px-4 py-2">Terms and Condition</h1>
                <% if @tour_terms_and_condition.any? %>
                    <ul class="list-disc mt-4 space-y-2 list-none text-xl">
                        <% @tour_terms_and_condition.each do |item| %>
                            <li><%= item %></li>
                        <% end %>
                    </ul>
                <% end %>
            </div>

            <div class="flex-1 flex items-center justify-center">
               <button class="bg-skylife_orange text-white px-12 py-2 text-2xl rounded-lg">Inquire Now!</button>
            </div>
        </div>
    </section>
</div>