<!DOCTYPE html>
<html>
  <head>
    <title>Skylife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main data-controller="navigation">
        <nav class="px-5 flex justify-between items-center text-lg font-medium fixed w-full z-10 py-4 drop-shadow-lg">
          <%= link_to root_path, class: 'link' do %>
            <%= image_tag "LOGO SKYLIFE.png", alt: 'src', class: "w-32" %>
          <% end %>
          <ul class="flex items-center gap-2" >
            <li class="bg-black/20 rounded-full cursor-pointer flex justify-between items-center w-32 p-0.5" data-action="click->navigation#openSidebar">
              <button class="bg-white py-2 px-4 rounded-full">Menu</button>
            </li>
          </ul>
        </nav>

        <%= yield %>
        
        <footer class="border-t pt-8">
          <div class="flex justify-center gap-5 mb-4 font-bold">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#000000" viewBox="0 0 256 256"><path d="M232,128a104.16,104.16,0,0,1-91.55,103.26,4,4,0,0,1-4.45-4V152h24a8,8,0,0,0,8-8.53,8.17,8.17,0,0,0-8.25-7.47H136V112a16,16,0,0,1,16-16h16a8,8,0,0,0,8-8.53A8.17,8.17,0,0,0,167.73,80H152a32,32,0,0,0-32,32v24H96a8,8,0,0,0-8,8.53A8.17,8.17,0,0,0,96.27,152H120v75.28a4,4,0,0,1-4.44,4A104.15,104.15,0,0,1,24.07,124.09c2-54,45.74-97.9,99.78-100A104.12,104.12,0,0,1,232,128Z"></path></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#000000" viewBox="0 0 256 256"><path d="M176,24H80A56.06,56.06,0,0,0,24,80v96a56.06,56.06,0,0,0,56,56h96a56.06,56.06,0,0,0,56-56V80A56.06,56.06,0,0,0,176,24ZM128,176a48,48,0,1,1,48-48A48.05,48.05,0,0,1,128,176Zm60-96a12,12,0,1,1,12-12A12,12,0,0,1,188,80Zm-28,48a32,32,0,1,1-32-32A32,32,0,0,1,160,128Z"></path></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#000000" viewBox="0 0 256 256"><path d="M232,80v40a8,8,0,0,1-8,8,103.25,103.25,0,0,1-48-11.71V156a76,76,0,0,1-152,0c0-36.9,26.91-69.52,62.6-75.88A8,8,0,0,1,96,88v42.69a8,8,0,0,1-4.57,7.23A20,20,0,1,0,120,156V24a8,8,0,0,1,8-8h40a8,8,0,0,1,8,8,48.05,48.05,0,0,0,48,48A8,8,0,0,1,232,80Z"></path></svg>
          </div>

          <div class="border-b pb-4">
            <ul class="flex justify-center gap-4 uppercase font-bold text-lg underline">
              <li>
                About Us
              </li>
              <li>
                Package Offers
              </li>
              <li>
                Career
              </li>
              <li>
                Contact Us
              </li>
            </ul>
          </div>

          <p class="text-center py-4">2024@Skylife Travel and Tours. All rights reserved.</p>
        </footer>
    </main>
  </body>
</html>
